__pycache__/
*.py[cod]
*.pyo

.vscode/
.idea/
Server_ESP/Server_ESPconvertor/.idea
Server_ESP/Server_ESPconvertor/event_log.db
*.swp

.venv/
env/
ENV/
*.env

.DS_Store
Thumbs.db

*.log

*.hex
*.elf

node_modules/

libraries/**/build/
libraries/**/dist/
