<!DOCTYPE html>
<html>
<head>
  <title>Camera Stream</title>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
  <h1>Camera Stream</h1>
  <img id="camera-feed" src="" alt="Loading stream...">

  <script>
    const socket = io();

    socket.on("connect", () => {
      socket.emit("identify", { type: "browser" });
    });

    setInterval(() => {
      socket.emit("get_frame");
    }, 1000);

    socket.on("new_frame", (data) => {
      const img = document.getElementById("camera-feed");
      img.src = "data:image/jpeg;base64," + data.image;
    });
  </script>
</body>
</html>
